name: pr-label

on:
  pull_request:

permissions: {}

jobs:
  size-label:
    runs-on: ubuntu-latest
    if: ${{ !github.event.pull_request.head.repo.fork && github.actor != 'dependabot[bot]' }}
    permissions: 
      pull-requests: write
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit
      - name: size-label
        uses: "pascalgn/size-label-action@49850f3557d4b77f0b2e759829defd77ccc07c54"
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
